<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <br>
            <div class="card" >
                <div class="card-body">
                    <br>
                  <h5 class="card-title">SEARCH PRODUCT</h5>
                  <div class="row g-3">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Product Name</label>
                        <input name="name" [(ngModel)] = "name"  type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <button  (click)="readValue()" class="btn btn-outline-dark">Search</button>
                    </div>
                </div>
                </div>
              </div>
            </div>
        </div>
         </div>
    </div>
    <div class="row">
        <div class="overflow-hidden">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Description</th>
                  <th scope="col">Price</th>
                  <th scope="col">Image</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let j of searchData">
                  <td>{{j.name}}</td>
                  <td>{{j.category}}</td>
                  <td>{{j.description}}</td>
                  <td>{{j.price}}</td>
                  <td>{{j.image}}</td>
                </tr>
              </tbody>
          </table>     
</div>
</div>
</div>


