<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/userlogin">Logout</a>
    </li>
    </ul>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="container">
                        <div class="row">
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                               <br>
                                <div class="card" >
                                    <img src="https://www.pngitem.com/pimgs/m/27-272007_transparent-product-icon-png-product-vector-icon-png.png" height="200" width="200" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title"></h5>
                                      <p class="card-text">Health History</p>
                                      <p class="card-text"></p>
                
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="container">
                        <div class="row">
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <div class="row g-3">
                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                        <br>
                                <div class="card" >
                                    <div class="card-body">
                                        <br>
                                      <h5 class="card-title">SEARCH PRODUCT</h5>
                                      <div class="row g-3">
                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                            <label for="" class="form-label">Product Name</label>
                                            <input name="name" [(ngModel)] = "name"  type="text" class="form-control">
                                        </div>
                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                                            <button  (click)="readValue()" class="btn btn-outline-dark">Search</button>
                                        </div>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                             </div>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                      <th scope="col">Name</th>
                                      <th scope="col">Category</th>
                                      <th scope="col">Description</th>
                                      <th scope="col">Price</th>
                                      <th scope="col">Image</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr >
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                              </table>     
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
